<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Fileset</title>

    <link rel="stylesheet" href="fileset.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="../../shared/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="jquery-textboxlist.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        $(function () {
            var textbox = new $.TextboxList('#form_tags_input', {
                bitsOptions: {
                    editable: {
                        addKeys: [188, 32, 13]
                    }
                },
                editable: true
            });
            textbox.add('src/**.*')
                   .add('/src/com.package.MyClass.as')
                   .add('lib/*.swc')
                   .add("/users/john/Documents/myLib/**.as")


            $("#form_tags_input").dblclick(function(){
                console.log("hello")
            })
        });
    </script>

    <!-- sample style -->
    <style type="text/css" media="screen">
        .form_tags {
            margin-bottom: 10px;
        }

        .textboxlist {
            width: 400px;
        }

        body {
            margin: 0;
        }

    </style>
</head>
<body>
<form accept-charset="utf-8">
    <div class="form_tags"><input type="text" name="test2" value="" id="form_tags_input"/></div>
</form>
</body>
</html>